.height500 {
  height: 500px;
}
.header-text {
  color: #3a4256;
  font-weight: 600;
}
.bg-main {
  color: #1cc7c1;
}
.Bg-main {
  background-image:linear-gradient(75deg,#19D3AE,#0fcfec);
}
.Bg-main>a{
  color:#ffffff;
}
.btn-main {
  background-image:linear-gradient(75deg,#19D3AE,#0fcfec);
  color: aliceblue;
}
.f-border {
  border: 1px solid white;
}
.margin-top {
  margin-top: 50px;
}

/* Header bg color and image set */
.header-bg {
  position: relative;
  height: 720px;
  background-image: url("../image/chairBg.png");
  background-size: cover;
}
.header-bg::after {
  content: " ";
  height: 668px;
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
  background: #3a4256;
  z-index: -1;
}

/* info card color and icon set */
.infoCard {
  height: 110px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.infoCard > div {
  line-height: 20px;
}
.infoCard > div > h5 {
  font-weight: 500;
  margin: 5px 0 0 0;
}
.info-primary {
  background: #1cc7c1;
}
.info-secondary {
  background: #3a4256;
}
.info-icon {
  font-size: 2.5em;
  margin: 0 13px 0 0;
}

/* service container styles */
.service-card > img {
  height: 70px;
  width: 70px;
}

/* Dental care section */
.treatment-container {
  margin: 65px 0 15px 0;
}
.treatment-img {
  height: 400px;
}
.treatment-body > h3 {
  font-size: 2.3em;
}

/* Appoinment section */
.contact-form {
  z-index: 1111;
}
.appoinment-container,
.contact-container {
  height: 450px;
  background-image: url("../image/appointment-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* .appoinment-container::before,.contact{ */
.appoinment,
.contact {
  width: 100%;
  height: 100%;
  background: rgb(36, 41, 73);
  opacity: 0.92;
}
.appoinment-bg {
  height: 550px;
  transform: translateY(-50px);
}

/* Review section */
.reviewer {
  height: 70px;
  width: 70px;
  margin: 15px 15px 0 0;
}

/* blog section with it's hover effect*/
.blog-container {
  position: relative;
}
.blog-container:hover .overlay {
  opacity: 1;
  transform: scale(1);
}
.overlay {
  position: absolute;
  background-color: #1cc7c1;
  width: 95%;
  height: 100%;
  top: 0;
  transform: scale(1.1);
  opacity: 0;
  transition: transform 0.9s ease 0s;
}
.overlay > h5 {
  margin: 5px 0 0 0;
}
.overlay > p {
  margin: 30px 0 0 0;
}
.overlay > h4 {
  margin: 75px 0 0 0;
}
.overlay-icon {
  font-size: 2em;
  margin: 235px 0 0 35px;
  color: #ffff;
}
.overlay-text {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #ffff;
}

/* doctor section */
.doctor-img {
  height: 300px;
  width: 300px;
}

/* contact section */
.cantact-input,
.cantact-textarea {
  width: 45%;
  margin: 0 0 10px 0;
}
.cantact-input {
  height: 40px;
}
.cantact-textarea {
  height: 110px;
}

/* footer section */
.footerBg {
  height: 350px;
  background-image: url("../image/footer-bg.png");
  background-size: cover;
}
.footerBg>div>div>ul>li{
  list-style: none;
}
.footerBg>div>div>ul>li>a,.footerBg>div>div>a{
  text-decoration: none;
  color:gray;
}
.footer-icon{
  font-size: 1.8em;
  margin: 0 .35em 1.1em 0;
}


/* Login section */
.login-bg{
  margin:15% 0 0 0;
  height:600px;
}



/* Dashboard */
.dashboard-bg{
  background: #F4FDFB;
}
/* Dashboard/sidenav */
.side-nav{
  height:100vh;
}